.root
  position relative

.codeEditor
  absolute top bottom left right

.hide
  z-index 0
  opacity 0
  pointer-events none

.codeEditor--hide
  @extend .codeEditor
  @extend .hide

.preview
  display block
  absolute top bottom left right
  z-index 100
  background-color white
  height 100%
  width 100%

.preview--hide
  @extend .preview
  @extend .hide

