.escButton
  height 50px
  position absolute
  background-color transparent
  color $ui-inactive-text-color
  border none
  top 1px
  right 10px
  text-align center
  width top-bar--height
  height top-bar-height

.esc-mark
  font-size 28px
  margin-top -5px
  margin-bottom -7px