.notification-area
  z-index 1000
  font-size 12px
  position: relative
  top: 12px
  background-color none

.notification-link
  position absolute
  text-decoration none
  color #282A36
  font-size 14px
  border 1px solid #6FA8E6
  background-color alpha(#6FA8E6, 0.2)
  padding 5px 12px
  border-radius 2px
  transition 0.2s
  &:hover
    color #1378BD

body[data-theme="dark"]
  .notification-area
    background-color none

  .notification-link
    color #fff
    border 1px solid alpha(#5CB85C, 0.6)
    background-color alpha(#5CB85C, 0.2)
    transition 0.2s
    &:hover
      color #5CB85C


body[data-theme="solarized-dark"]
  .notification-area
    background-color none

  .notification-link
    color $ui-solarized-dark-text-color
    border none
    background-color $ui-solarized-dark-button-backgroundColor
    &:hover
      color #5CB85C

body[data-theme="monokai"]
  .notification-area
    background-color none

  .notification-link
    color $ui-monokai-text-color
    border none
    background-color $ui-monokai-button-backgroundColor
    &:hover
      color #5CB85C