.storageList
  absolute left right
  bottom 37px
  top 180px
  overflow-y auto

.storageList-folded
  @extend .storageList
  width 44px

.storageList-empty
  padding 0 10px
  margin-top 15px
  line-height 24px
  color $ui-inactive-text-color

body[data-theme="dark"]
  .storageList-empty
    color $ui-dark-inactive-text-color

.root-folded
  .storageList-empty
    white-space nowrap
    transform rotate(90deg)
