/**
 * Varibales for note detail space.
 */

// Margin on the left side and the right side for NoteDetail component.
$note-detail-left-margin = 100px
$note-detail-right-margin = 120px
$snippet-note-detail-left-margin = 60px
$snippet-note-detail-right-margin = 80px

$note-detail-box-shadow = 2px 0 15px -8px #b1b1b1 inset
