.control-fullScreenButton
  top 80px
  topBarButtonRight()
  &:hover .tooltip
    opacity 1

.tooltip
  tooltip()
  position absolute
  pointer-events none
  top 50px
  right 70px
  z-index 200
  padding 5px
  line-height normal
  border-radius 2px
  opacity 0
  transition 0.1s

body[data-theme="dark"]
  .control-fullScreenButton
    topBarButtonDark()