/**
 * Common style for tabs on config modal.
 */

$tab--input-border-radius = 5px
$tab--button-border-radius = 5px
$tab--button-height = 40px
$tab--button-font-size = 14px

$tab--dark-text-color = #E5E5E5

.header
  font-size 36px
  margin-bottom 60px

.header--sub
  font-size 36px
  margin-bottom 20px

body[data-theme="dark"]
  .header
    color $tab--dark-text-color

haveToSave()
  color #FFA500
  font-size 10px
  margin-top 3px