alertSuccess()
  background-color successBackgroundColor
  color successTextColor

alertError()
  background-color errorBackgroundColor
  color errorTextColor

alertInfo()
  background-color infoBackgroundColor
  color infoTextColor
