btnDefault()
  border-style solid
  border-width 1px
  border-color lightButtonColor
  background-color transparent
  color lightButtonColor

  &:hover, &.hover, &:focus, &.focus
    border-color darken(lightButtonColor, 50%)
    color darken(lightButtonColor, 50%)
  &:active, &.active
    border-color darken(brandBorderColor, 10%)
    background-color brandColor
    color white
  &:disabled, &.disabled
    opacity 0.6

btnPrimary()
  border-style solid
  border-width 1px
  border-color brandBorderColor
  background-color transparent
  color brandColor
  &:hover, &.hover, &:focus, &.focus
    border-color darken(brandBorderColor, 30%)
    color darken(brandColor, 30%)
  &:active, &.active
    background-color brandColor
    color white
  &:disabled, &.disabled
    opacity 0.6

btnStripDefault()
  border none
  background-color transparent
  color lightButtonColor
  &:hover, &.hover, &:focus, &.focus
    color darken(lightButtonColor, 50%)
  &:active, &.active
    color brandColor
