stripInput()
  border none
  border-bottom 1px solid borderColor
  padding 5px 15px
  transition 0.1s
  font-size 14px
  &:focus, &.focus
    border-bottom 1px solid brandBorderColor
    outline none

borderInput()
  border solid 1px borderColor
  padding 5px 15px
  transition 0.1s
  font-size 14px
  &:focus, &.focus
    border-color brandBorderColor
    outline none
