tooltip()
  position fixed
  z-index popupZIndex
  background-color transparentify(invBackgroundColor, 80%)
  color invTextColor
  padding 6px 15px
  font-size 12px
  font-weight normal
  line-height 20px
  white-space nowrap
  opacity 0
  transition 0.1s
  pointer-events none

