{
    "amaEnabled": true,
    "editor": {
        "fontFamily": "Monaco, Consolas",
        "fontSize": "14",
        "indentSize": "2",
        "indentType": "space",
        "keyMap": "vim",
        "switchPreview": "BLUR",
        "theme": "monokai"
    },
    "hotkey": {
        "toggleMain": "Cmd + Alt + L"
    },
    "isSideNavFolded": false,
    "listStyle": "DEFAULT",
    "listWidth": 174,
    "navWidth": 200,
    "preview": {
        "codeBlockTheme": "dracula",
        "fontFamily": "Lato",
        "fontSize": "14",
        "lineNumber": true
    },
    "sortBy": {
        "default": "UPDATED_AT"
    },
    "sortTagsBy": "ALPHABETICAL",
    "ui": {
        "defaultNote": "ALWAYS_ASK",
        "disableDirectWrite": false,
        "theme": "default"
    },
    "zoom": 1
}
