.root
  modal()
  max-width 340px
  overflow hidden
  position relative

.header
  height 50px
  font-size 16px
  line-height 50px
  padding 0 15px
  background-color $ui-backgroundColor
  border-bottom solid 1px $ui-borderColor
  color $ui-text-color

.control
  padding 25px 15px 15px
  text-align center

.control-input
  display block
  height 30px
  width 240px
  padding 0 5px
  margin 0 auto 15px
  border none
  border-bottom solid 1px $border-color
  border-radius 2px
  background-color transparent
  outline none
  vertical-align middle
  font-size 14px
  text-align center
  &:disabled
    background-color $ui-input--disabled-backgroundColor
  &:focus, &:active
    border-color $ui-active-color

.control-confirmButton
  display block
  height 30px
  border none
  border-radius 2px
  padding 0 25px
  margin 0 auto
  colorPrimaryButton()

body[data-theme="dark"]
  .root
    modalDark()

  .header
    background-color $ui-dark-button--hover-backgroundColor
    border-color $ui-dark-borderColor
    color $ui-dark-text-color

   .description
    color $ui-inactive-text-color

  .control-input
    border-color $ui-dark-borderColor
    color $ui-dark-text-color

  .control-confirmButton
    colorDarkPrimaryButton()
