.root
  absolute top left bottom right

.body
  absolute right top bottom
  left $sideNav-width

.body--expanded
  @extend .body
  left $sideNav--folded-width

.slider
  absolute top bottom
  top -2px
  width 0
  z-index 0

.slider-right
  @extend .slider
  width 1px
  z-index 0

.slider--active
  @extend .slider

.slider-right--active
  @extend .slider-right

.slider-hitbox
  absolute top bottom left right
  width 7px
  left -3px
  z-index 10
  cursor col-resize


body[data-theme="dark"]
  .root
    absolute top left bottom right

  .slider-right
  .slider-right--active
    box-shadow none
